.blank {
  color: black;
  float: left;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-image {
  width: 160%;
  height: 100%;
  object-fit: fill;
}
